.hero{
  position: relative; 
  color:$white;
  background-image: url("https://s14.postimg.cc/5i4g1gqwh/Untitled-1.jpg");
  width:100%; 
    height:350px;

    &_text {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 18px;
        &_wrap{
          padding: 15px;
          overflow-wrap: break-word;
          width: 70%;
      }
    }
  
  
  &_signup{
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 18px;
    width:100%;
    &_cta{
      padding: 15px 0px;
      display:flex;
        margin: 0px;
        .hero-button{
          color:$white;
          display:inline-flex;
          padding-right:20px;
          font-size:18px;
          svg{
            color:$primary;
            width:25px;
            height:25px;
            padding-right:5px;
          }
        }
    }
  
    .cta-button{
      text-align:left;
      @include media-breakpoint-up(sm) { 
        text-align:right; 
        }
    }
  }
}
.carousel_header{
  color:$primary;
  padding-left:50px;
}